@font-face {
  font-family: 'Nay Aug';
  src: url('https://cdn.glitch.com/0e606cea-0cd5-4750-9bbe-4b4e62e2e9fd%2FNayAug5-Regular.otf?v=1608399454756')  format('opentype');
}


a {
  color: transparent;
}


body {
  font-family: "Nay Aug";
  margin: 2em;
  background-color: black;
  margin-top: 25vh;
  text-align: center;

-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.infobox {
  color: white;
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 18px;
  border: 1px solid white;
  background-color: black;
  padding: 5px;
}

.info {
  background-color: white;
  color: black;
}

#um {
max-width: 100px;
fill: white;
  position: fixed;
  top: 10px;
  left: 10px;
}

.typelink {
max-width: 40vw;
  fill: transparent;
  transition: .1s;
}


.mail {
  top: inherit;
  left: inherit;
  bottom: 10px;
  right: 10px;
  border-radius: 20px;
}

/* #whirlybirdie {
  fill: #e10f60;

}

#nayaug {
  fill: #f6d300;
}

#grinnell {
fill: #b160ff;
}

#whirlybats {

fill: #33cd00
} */



.red {
fill: white;
  transition: .7s;
  transition-property: transform;
}

.typelink {
  border: 1px solid transparent;
}

.typelink:hover {
  border: 1px solid rgba(255,255,255,0.4);
}

.explode {
  animation: explode 1s 1;
  animation-fill-mode: forwards;
}


@media screen and (max-width: 600px) {
  .typelink {
    max-width: 90%;
  }
}
