@font-face {
  font-family: 'Nay Aug';
  src: url('https://cdn.glitch.com/0e606cea-0cd5-4750-9bbe-4b4e62e2e9fd%2FNayAug5-Regular.otf?v=1608399454756')  format('opentype');
}
body {
  font-family: "Nay Aug";
  margin: 2em;
  background-color: black;
  margin-top: 100px;
  text-align: center;
  cursor: crosshair;

-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.infobox {
  color: white;
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 20px;
  border: 1px solid white;
  background-color: black;
  padding: 5px;
}

#um {
max-width: 100px;
fill: white;
  position: fixed;
  top: 10px;
  right: 10px;
}

.typelink {
max-width: 500px;
  fill: black;
}


.mail {
  top: inherit;
  left: inherit;
  bottom: 10px;
  right: 10px;
  border-radius: 20px;
}


/* #whirlybirdie {
  fill: #e10f60;

}

#nayaug {
  fill: #f6d300;
}

#grinnell {
fill: #b160ff;
}

#whirlybats {

fill: #33cd00
} */



.red {
fill: white;
}

.typelink {
  border: 1px solid transparent;
}

.typelink:hover {
  border: 1px solid white;
}

@keyframes explode {
  0%   { fill: black }
  10%   { fill: white }
  20%   { fill: black }
  30%   { fill: white }
  100%   { fill: black }
}

.explode {
  animation: explode 1s 1;
  animation-fill-mode: forwards;
}
